name: Auto Assign

on:
  issues:
    types: [ opened ]
  pull_request:
    types: [ opened, reopened ]

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Auto-assign
        uses: pozil/auto-assign-issue@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: UchihaIthachi
          numOfAssignee: 1
          allowSelfAssign: true
